.Jumbotron {
    background-image: url("../../../img/bg.png");
    background-attachment: scroll;
    height: 600px;
    background-size: cover;
    padding: 40px 0 0 0;
}

.Logo h2 {
    font-weight: 700;
    color: white;
    text-align: left;
}

.Logo {
    top: 0;
    left: 0;
}

.Title h1, p {
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    color: white;
    text-align: left;
}

.Title {
    padding: 70px 50px 20px 0;
}

.OrderButton{
   float: left;
   text-transform: uppercase;
   padding: 15px 40px;
   font-size: x-small;
   color: #FFFFFF;
   background-color: black;
   border: 1px solid white;
}

.OrderButton:focus{
    outline:0;
}

.OrderButton:hover, .OrderButton:active{
    box-shadow: inset 0 0 32px 0 rgba(120,120,120,1);
    font-weight: bold;
}

@media (max-width: 767px) {

    .Jumbotron {
        text-align: center;
        background-size: cover;
        background-image: url("../../../img/bg-mobile.png");
        height: 850px;
    }
    .OrderButton{
        float: none;
        margin: auto;
    }
    .Logo {
        margin-top: 300px;
    }

    .Logo h2 {
        text-align: center;
    }

    .Title h1, p {
        text-align: center;
    }

    .Title{
        padding: 30px 50px;
    }
}

@media (max-width: 375px) {
    .Title{
        padding: 30px 30px;
    }
}