.Line{
    margin: 10px 0 0 5px;
    float: left;
    display: inline-block;
    width: 50px;
    height: 8px;
    border-top: 1px solid rgb(119, 99, 27);
}

.Dot{
    float: left;
    color: rgb(160, 129, 42);
}

@media (max-width: 767px) {
    .Line{
        float: none;
        height: 6px;
    }

    .Dot{
        float: none;
    }
}